html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Monda', sans-serif;
  letter-spacing: -1px;
  min-height: 100%;

  color: #eee;

  background: #222; /* fallback for old browsers */
  background: linear-gradient(to bottom, #111, #444); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  position: absolute;
  margin: 0;
  padding: 0.25em 0.75em;
  font-weight: 400;
}

h2 {
  position: absolute;
  margin: 0;
  padding: 0.25em 0.75em;
  top: 45px;
  left: 30px;
  font-size: 1.1em;
  font-weight: 400;
}

cite {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.25em 0.75em;
  background: #666;
  font-size: 0.9em;
}

cite a {
  color: #fff;
  font-style: normal;
}

.node rect {
  cursor: move;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 1px 1px 2px #666;
  font-size: 0.9em;
}

#tooltip {
  position: absolute;
  pointer-events: none;
  font-size: 0.75em;
  padding: 3px;
  width: auto;
  height: auto;
  background-color: #111;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rbga(0, 0, 0, 0.4);
  pointer-events: none;
}

.value {
  white-space: pre-line;
  margin: 0;
}
